<h2>Dodaj nowy produkt</h2>
<form (ngSubmit)="onSubmit()" #productForm="ngForm">

  <div>
    <label for="name">Nazwa</label>
    <input type="text" required [(ngModel)]="model.name" name="name" #name="ngModel">
  </div>

  <div>
    <label for="manufacturer">Producent</label>
    <input type="text" required [(ngModel)]="model.manufacturer" name="manufacturer" #manufacturer="ngModel">
  </div>

  <div>
    <label for="category name">Kategoria</label>
    <input type="text" required [(ngModel)]="model.category" name="category" #category="ngModel">
  </div>

  <button type="submit" [disabled]="!productForm.form.valid">Dodaj</button>
</form>