<!-- TODO Walidacja, stany formularza dirty/touched/etc -->
<h1>Zaloguj się</h1>


<div class="container">
	<div class="row">
		<div class="col-sm-4 offset-sm-4">
			<form (ngSubmit)="onSubmit()" #loginForm="ngForm" style="margin:0px auto;">
			<div class="form-group">
			  <div>
				<label for="username">Nazwa</label>
				<input type="text" required [(ngModel)]="model.username" name="username" #name="ngModel" class="form-control" >
			  </div>

			  <div>
				<label for="password">Hasło</label>
				<input type="password" required [(ngModel)]="model.password" name="password" #password="ngModel" class="form-control">
			  </div>
				<br>
			  <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">Zaloguj</button>
			  </div>
			</form>
		</div>
	</div>
</div>
