<!-- TODO Walidacja, stany formularza dirty/touched/etc -->
<div *ngIf="token.getToken()==null;else loggedIn">

<div *ngIf="statusCode==0 || statusCode>=460;else registered">

<h1>Zarejestruj się</h1>


<div class="container">
	<div class="row">
		<div class="col-sm-4 offset-sm-4">
			<form (ngSubmit)="onSubmit()" #signupForm="ngForm">
			<div class="form-group">

			  <div>
				<label for="name">Login</label>
				<input type="text" required [(ngModel)]="model.name" name="name" #name="ngModel" class="form-control">
			  </div>

			  <div>
				<label for="password">Hasło</label>
				<input type="password" required [(ngModel)]="model.password" name="password" #password="ngModel" class="form-control">
			  </div>

			  <div>
				<label for="password">Powtórz hasło</label>
				<input type="password" required [(ngModel)]="secondPassword" name="password" #password="ngModel" class="form-control">
			  </div>
			  <br>
				<div>

					<p class="blad">{{message}}</p>
				</div>

				<div *ngIf="passCorrect==false">
					<p class="blad">Hasła nie są sobie równe</p>
				</div>
			  <button type="submit" [disabled]="!signupForm.form.valid" class="btn btn-primary">Zarejestruj</button>
			  </div>
			</form>
		</div>
	</div>
</div>
</div>
<ng-template #registered>

	<h1>{{message}}</h1>
</ng-template>

</div>

<ng-template #loggedIn>

	<h1>Jesteś zalogowany jako {{token.getUsername()}}</h1>
</ng-template>

<app-messages></app-messages>
