<div *ngIf="product">
  
  <div class="text-center"><p><a routerLink="/categories/{{ product.cat.id }}">{{product.cat.name}}</a> >> {{product.manufacturer_name}} >> {{product.name}}</p></div>
  <!-- <p class="text-center"><img src="http://sklepmati.pl/img/cms/2017.03/Produkt%20polski.jpg" /></p> -->
  <p class="text-center">Średnia ocen:{{ product.raiting }}</p>
  <section *ngIf="loggedIn">
    <button  (click)="delete(product)">Usuń</button>
  </section>
  
  <app-product-comments></app-product-comments>
  
</div>
