<div>
  <h2 class="text-center">Dodaj nową usługę</h2>
<div class="container">
<div class="row">
<div class="col-sm-4 offset-sm-4">
  <form (ngSubmit)="onSubmit()" #serviceForm="ngForm">
	<div class="form-group">
    <div>
      <label for="name">Nazwa</label>
      <input type="text" required [(ngModel)]="model.name" name="name" #name="ngModel" class="form-control">
    </div>

    <div>
      <label for="owner">Wykonawca</label>
      <input type="text" required [(ngModel)]="model.owner_name" name="owner" #owner="ngModel" class="form-control">
    </div>

    <div>
      <label for="localization">Lokalizacja</label>
      <input type="text" required [(ngModel)]="model.localization" name="localization" #localization="ngModel" class="form-control">
    </div>

    <div>
      <label for="category">Kategoria</label>
      <select id="cat" required [(ngModel)]="model.cat.id" name="category" #category="ngModel" class="form-control">
        <option *ngFor="let category of categories" value="{{ category.id }}">
          {{ category.name }}
        </option>
      </select>
    </div>
<br>
    <button type="submit" [disabled]="!serviceForm.form.valid" class="btn btn-primary">Dodaj</button>
	</div>
  </form>
</div>
</div>
</div>
</div>

<app-messages></app-messages>
