<app-categories></app-categories>

<footer>
	<div class="container-fluid" style="height:auto; background:silver;">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<p align="justify">
					Phasellus id magna vitae orci maximus hendrerit nec gravida lorem. Vivamus in finibus ante, sit amet venenatis lectus. Mauris erat justo, condimentum et libero sit amet, commodo laoreet tellus. Duis ornare semper erat eget euismod. Vestibulum bibendum luctus dolor ac consectetur. Mauris ac rhoncus nisl. Cras dapibus fringilla consequat. Cras et enim luctus, tempus ex hendrerit, consectetur leo. Duis vel venenatis tortor, ut elementum lorem. Sed sit amet eros finibus, interdum mi id, maximus ante. Nulla non fringilla ex. Proin maximus volutpat felis. Vestibulum sed ante mattis, tempus diam a, auctor nisi. Aliquam ipsum diam, sollicitudin vel imperdiet sed, tristique nec sapien. Praesent volutpat, magna vitae varius facilisis, magna orci sodales felis, eu posuere eros magna a justo. 
				</p>
			</div>
		</div>
	</div>

</footer>
