<h1 align="center"> Kategorie </h1>

<div class="container">
	
	<div *ngFor="let category of categories; let i = index">
	<div *ngIf="category.id % 3 == 1; then rowBlock"></div>
	<ng-template #rowBlock>
		<div class="row">
			<div class="col-sm-4">
				<h2 class="text-center">
					<a routerLink="/categories/{{categories[i].id}}">{{ categories[i].name }}</a>
				</h2>
				<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
					<a routerLink="/categories/{{categories[i].id}}" rel="nofollow">Więcej...</a>
				</p>
			</div><div class="col-sm-4">
				<h2 class="text-center">
					<a routerLink="/categories/{{categories[i+1].id}}">{{ categories[i+1].name }}</a>
				</h2>
				<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
					<a routerLink="/categories/{{categories[i+1].id}}" rel="nofollow">Więcej...</a>
				</p>
			</div><div class="col-sm-4">
				<h2 class="text-center">
					<a routerLink="/categories/{{categories[i+2].id}}">{{ categories[i+2].name }}</a>
				</h2>
				<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
					<a routerLink="/categories/{{categories[i+2].id}}" rel="nofollow">Więcej...</a>
				</p>
			</div>
		</div>
	</ng-template>
		
	</div>

</div>
