<h1 align="center"> Produkty </h1>

<div class="container">

	<app-product-search></app-product-search>

	<pagination-controls (pageChange)="p = changePage($event)"></pagination-controls>

	<div *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p, totalItems: productCount }">
		<div class="col-sm-4">
			<h2 class="text-center"><a routerLink="/products/{{product.id}}">{{ product.name }}</a></h2>
			<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
				<a routerLink="/products/{{product.id}}" rel="nofollow">Więcej...</a>
			</p>
		</div>
		<!-- <div *ngIf="product.id % 3 == 0" class="row">
			<h2 class="text-center"><a routerLink="/products/{{product.id}}">{{ product.name }}</a></h2>
			<div class="col-sm-4">
				<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
					<h2 class="text-center"><a routerLink="/products/{{product.id}}">{{ product.name }}</a></h2>
					<a routerLink="/products/{{product.id}}" rel="nofollow">Więcej...</a>
					<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
				</p>
				<a routerLink="/products/{{product.id}}" rel="nofollow">Więcej...</a>
			</div>
		</div> -->
	</div>
	
</div>
