<h1 align="center"> Usługi </h1>

<div class="container">
	
	<app-service-search></app-service-search>

	<div *ngFor="let service of services | paginate: { itemsPerPage: 10, currentPage: p, totalItems: 100 }">
		<div *ngIf="product.id % 3 == 0" class="row">
			<div class="col-sm-4">
				<h2 class="text-center"><a routerLink="/services/{{service.id}}">{{ service.name }}</a></h2>
				<p align="justify">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
					<a routerLink="/services/{{service.id}}" rel="nofollow">Więcej...</a>
				</p>
			</div>
		</div>
	</div>

	<pagination-controls (pageChange)="p = changePage($event)"></pagination-controls>
</div>
