<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Oceniamy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products">Produkty</a>
	  </li>
	  <li class="nav-item active">
        <a class="nav-link" routerLink="/services">Usługi</a>
	  </li>
    <div *ngIf="token.getToken()==null">
	  <li class="nav-item active">
        <a class="nav-link" routerLink="/signup">Rejestracja</a>
	  </li>
  </div>
  <div *ngIf="token.getToken()==null">
	  <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Logowanie</a>
	  </li>
  </div>
	  <li class="nav-item active">
        <a class="nav-link" routerLink="/product-form">Dodaj produkt</a>
	  </li>
	  <li class="nav-item active">
        <a class="nav-link" routerLink="/service-form">Dodaj usługę</a>
      </li>
    <div *ngIf="token.getToken()!=null">
    <li class="nav-item active">
        <a class="btn btn-primary"><span (click)="authenticationService.logout()" class="la la-trash">Wyloguj</span></a>
      </li>
    </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
<!-- <app-services></app-services> -->
<!-- class="nav-link" -->
